




.style{
	color:red;
	font-size:50px;
}

.select-style{
	height:40px; font-size:20px; color:blue;
	
}

 .t-head>tr>td{
 
border : 1px solid RED;
font-size : 14px;
font-weight: bold;
color:red;
}

 .t-body>tr>td{
border : 1px solid black;
}

.tb td{
border : 1px solid black;
	}

.class1{ 
	background:red;
}

p {background : blue;}

#id1{
	background:yellowgreen;
}

