@charset "UTF-8";


/*  *{
	border : 1px solid red;
}  */

.main_div{
	display : flex;
}

.div_l{
    margin-top : 242px;
	width : 500px;
	background-color:a0a0a0;
}

.div_l_t{
			background-color:white;
			height:200px;
}



.div_m{
    margin-top : 242px;

	width : 1499px;
	background-color:a0a0a0;
}
.div_m_t{
	width : 1499px;
	    height:200px;
		background-color:white;
		text-align : center;
}

.title{
	font-size : 50px;
}
.title_01{
	font-size:30px;
}
.title_02{
	color:gray;
	font-size:20px;
}

.div_m_m{

	width : 1499px;
		text-align : center;
}
.div_m_text01{
		padding-top:50px;
	font-size:40px;
	
}
.div_m_text02{
		padding-bottom:50px;
	color:blue;
	font-size:40px;
}

.div_m_m2{
position: relative;

}
.div_m_text03{
	width:1200px;
	position: absolute;
	top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
		color:white;
	font-size:40px;
	
}
.div_m_text04{
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
		color:white;
	font-size:25px;
}

.div_m_text05{
	position: absolute;
	top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);	
		color:white;
	font-size:25px;
}
.div_m_b{
	display : flex;
	width : 1499px;
    font-size:30px;
}


.div_m_b_l{
	width :300px;
	
}
.div_m_b_r{
	width :1199px;
}

.div_r{
    margin-top : 242px;
	width : 200px;
		background-color:a0a0a0;
}	

.div_r_t{
			background-color:white;
			height:200px;
}

/*common*/

.footer {
	width : 1499px;
	margin : 0 auto;
		background-color : #f5f5f5;
}

.header {
	width: 1170px;
	margin: 0 auto;
}

.menu_wrapper {
	height: 100px;
	width : 100%;
	/* margin: 200px auto; */
	background-color: white;
	/*화면 가운데에 고정*/
	display: flex;
	justify-content: center;
}

/*header*/
header {
	height: 150px;
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 9999;
/* 	padding-top: 50px; */
	left: 0;
}

h1 {
	color: black;
	line-height: 100px;
	float: left;
}

/*body*/

body {
	background-color : #f5f5f5;
	margin:0px;
	
}

/*footer*/
footer {
	height: 100px;
	background-color: none;
	position: relative;
	transform : translateY(-100%);
	width: 100%;
	/* position: fixed;  */
	bottom : 0;
	left: 0;
}

h2 {
	color : black;
	line-height : 100px;
	float : right;
}

.footer {
	color : black;
	height:200px;
	font-size : 12px;
	text-align : center;
}


/*body*/

/*upper menu*/
.top {
	float: right;
}

.top li {
	font-size: 12px;
	list-style: none;
	float: left;
}

.top a {
	line-height: 100px;
	color: black;
	padding: 0 15px;
	display: block;
	text-decoration: none;
}

.top li:hover>a {
	background-color: none;
	font-weight: bold;
}

/*main menu bar*/
.middle {
	list-style: none;
	width : 1899px;
	height : 50px;
	background : #006eb7;
	display: flex;
	justify-content: center;

}

.middle li {
	float: left;
	padding-top: 10px;
	position: relative;
	margin: 0px 30px;

}

.middle li a {
	display: block;
	font-weight: bold;
	font-size: 20px;
	color : white;
	margin : 0;
	text-decoration : none;
}

.middle li:hover>a {
	display: block;
	background: none;
	color: white;
	font-size : bold;
}

.middle ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	padding-top: 30px;
	width: 200px;
	background: #006eb7;
	text-align: center;
	opacity: 0;
}

.middle ul li {
	float: none;
	margin: 0;
	padding: 0;
}

.middle ul a {
	font-weight: normal;
	color: white;
	font-size: 15px;
}

.middle ul li:hover a {
	display: block;
	height: 30px;
	background: #b0d2e9;
	font-weight: bold;
}

.middle li:hover ul {
	opacity: 1;
}

.middle li:hover ul li {
	height: 40px;
	overflow: visible;
	padding: 0;
}

/*bottom menu*/
.bottom {
	list-style: none;
	height: 50px;
	padding: 5px 1px;
	margin: 0;
	/* background: none; */
	background-color : #f5f5f5;
	display: flex;	
	justify-content: center;
}

.bottom li {
	float: left;
	position: relative;
	margin: 5px 30px;
	padding: 0;
}

.bottom li a {
	display: block;
	font-size: 12px;
	color: black;
	margin: 0;
	text-decoration: none;
}

.bottom li:hover>a {
	display: block;
	background: none;
	font-weight : bold;
}
